<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat-Da-Burgr!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgerLib.js"></script>

       
	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<!-- Linking Font Awesome -->
    <script src="https://use.fontawesome.com/b38c8ed4c7.js"></script>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
	
</head>

<body>
	<img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 angrbrd entertainment</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/angrbrd">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>
